<!DOCTYPE html>
<!--//////////////////////////////////////////////////
    Subj:   Coding Dojo > Python > Flask > Fundamentals: Flask Templates
    By:     Virgilio D. Cabading Jr.    October 22, 2021
    //////////////////////////////////////////////////-->
<html lang="en">

<!--//// HEAD ////////////////////////////////////////-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Template</title>
</head>

<!--//// BODY ////////////////////////////////////////-->
<body>
    <h2>{{ message }}</h2>
    <p>{{ iterations }}</p>
    {% for idx in range(iterations) %}
    <p> {{message}} </p>
    {% endfor %}
</body>
</html>